.card-img-wrapper {
  width: 100%;
  height: 180px;     /* FIXED HEIGHT */
  overflow: hidden;
  background: #f3f3f3;
  border-radius: 8px;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* Makes all images same shape */
}
